[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
	branch = main
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
