[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
	branch = main
[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/diffCheckOrg/submodule-boost.git
